.playlist{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    flex: 1 1 auto;
    height: 100vh;
    background-color: #777;

    .playlist-tools{
        flex: 0 0 auto;
        height: 32px;
        display: flex;
    }

    .playlist-body{
        display: flex;
        flex: 1 1 auto;
        height: calc(100vh - 32px);
    }

    .trackeditor{
        display: flex;
        flex: 1 1 auto;
    }
}