*,*:after,*:before{
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --channel-step-list-gap: 2px;
  --channel-step-width: 18px;
  --channel-step-list-max-width: calc(var(--channel-step-width)*16 + var(--channel-step-list-gap)*16);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-draggable{
  z-index: 10000;
}
.react-draggable-dragging{
  opacity: 0.7;
}
.react-draggable.active{
  z-index: 11000;
  &>div{
    box-shadow: 0 2px 3px #0003;
  }
}